

$blue-color: #86D3F4;
$black-color: #000;
$white-color: #FFF;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}

.preview {
    width: 900px;
    height: 720px;
    &__closeBtn {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background: url('./../../../Img/out.svg');
        width: 88px;
        height: 52px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 1172px;
    }
    &__infoBlock {
        width: 314px;
        height: 110px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: absolute;
        bottom: 40px;
        left: 926px;
    }
    &__p {
        width: 194px;
        height: 76px;
        color: $white-color;
        text-align: right;
        padding-top: 17px;
        font-size: 16px;
        font-weight: 500;
    }
    &__qr {
        width: 110px;
        height: 110px;
        background: url('./../../../Img/index\ 1.png');
    }
}