* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.preview {
  width: 900px;
  height: 720px;
}
.preview__closeBtn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: url("./../../../Img/out.svg");
  width: 88px;
  height: 52px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 1172px;
}
.preview__infoBlock {
  width: 314px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 40px;
  left: 926px;
}
.preview__p {
  width: 194px;
  height: 76px;
  color: #FFF;
  text-align: right;
  padding-top: 17px;
  font-size: 16px;
  font-weight: 500;
}
.preview__qr {
  width: 110px;
  height: 110px;
  background: url("./../../../Img/index 1.png");
}