* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 264px;
  left: 48px;
}
.container__h1 {
  width: 284px;
  height: 76px;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}
.container__p {
  width: 284px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}