
$black-color: #000;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 264px;
    left: 48px;
    &__h1 {
        width: 284px;
        height: 76px;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 2px;
    }
    &__p {
        width: 284px;
        height: 32px;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
    }
}