
$blue-color: #86D3F4;
$grey-color: #565656;
$black-color: #000;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}
.checkBox {
    width: 284px;
    height: 52px;
    margin-left: 57.5px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -2.5px;
    &__custom {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__custom+label::before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 3px solid $black-color;
        margin-right: 0.5em;
        position: absolute;
        left: 0;
        top: 6px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 110% 110%;
    }
    &__custom:checked+label::before {
        background-image: url("./../../../../Img/check\ point.svg");
    }
    &__agreement {
        color: $grey-color;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: 10px;
        left: 60px;
    }
}