* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.checkBox {
  width: 284px;
  height: 52px;
  margin-left: 57.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: -2.5px;
}
.checkBox__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkBox__custom + label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 3px solid #000;
  margin-right: 0.5em;
  position: absolute;
  left: 0;
  top: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110% 110%;
}
.checkBox__custom:checked + label::before {
  background-image: url("./../../../../Img/check point.svg");
}
.checkBox__agreement {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 10px;
  left: 60px;
}