
*{
    margin: 0;
    padding: 0;
 }

 .container {
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: row;
    background: url('./../../Img/scale_1200\ 1.png');
    position: relative;
}
 
