* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.popup {
  position: absolute;
  top: 220px;
  left: 1029px;
  width: 251px;
  height: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background: #86D3F4;
}
.popup__h1 {
  width: 231px;
  height: 57px;
  position: absolute;
  bottom: 280px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.popup__qr {
  width: 126px;
  height: 126px;
  background: url("./../../../Img/qr-code.png");
  position: absolute;
  bottom: 134px;
}
.popup__p {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 82px;
  text-align: center;
}
.popup__btn {
  padding: 0;
  border: none;
  font: inherit;
  background-color: #000;
  color: #86D3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 156px;
  height: 52px;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10px;
  left: 48px;
  text-decoration: none;
  cursor: pointer;
}