
$blue-color: #86D3F4;
$black-color: #000;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}

.popup {
    position: absolute;
    top: 220px;
    left: 1029px;
    width: 251px;
    height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background: $blue-color;

    
    &__h1 {
        width: 231px;
        height: 57px;
        position: absolute;
        bottom: 280px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
    &__qr {
        width: 126px;
        height: 126px;
        background: url('./../../../Img/qr-code.png');
        position: absolute;
        bottom: 134px;
    }
    &__p {
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        bottom: 82px;
        text-align: center;
    }
    &__btn {
        padding: 0;
        border: none;
        font: inherit;
        background-color: $black-color;
        color: $blue-color;
        display: flex;
        width: 156px;
        height: 52px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 48px;
        text-decoration: none;
        cursor: pointer;
    }
}