
$white-color: #fff;
$blue-color: #86D3F4;
$grey-color: #4E4E4E;
$black-color: #000;
$red-color: #EA0000;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}

.form {
    background: $blue-color;
    width: 380px;
    height: 720px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__h1 {
        font-size: 26px;
        font-weight: 400;
        margin-top: -1px;
    }
    &__alert {
        color: #EA0000;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;

        width: 284px;
        height: 52px;
        margin-left: 48px;
        padding: 0;
    }
    &__inputTel {
        width: 294px;
        height: 38px;
        margin-left: 69px;
        font-size: 32px;
        font-weight: 700;
        border: none;
        outline: none;
        background: $blue-color;
        font-size: 32px;
        font-weight: 900;
    }
    &__p {
        width: 315px;
        height: 32px;
        margin-left: 33px;
        padding-top: 2px;
        font-size: 14px;
        font-weight: 400;
    }
    &__p {
        width: 315px;
        height: 32px;
        margin-left: 33px;
        padding-top: 2px;
        font-size: 14px;
        font-weight: 400;
    }
    &__btn {
        width: 284px;
        height: 52px;
        margin-left: 48px;
        border: 1px solid $grey-color;
        padding: 0;
        font: inherit;
        color: inherit;
        background-color: transparent;
        pointer-events: none;
        color: $grey-color;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    } 
    &__btnActive {
        @extend  .form__btn;
        pointer-events: auto;
        background: $black-color;
        color: $white-color;
        cursor: pointer;
    }
}