* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.form {
  background: #86D3F4;
  width: 380px;
  height: 720px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.form__h1 {
  font-size: 26px;
  font-weight: 400;
  margin-top: -1px;
}
.form__alert {
  color: #EA0000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  width: 284px;
  height: 52px;
  margin-left: 48px;
  padding: 0;
}
.form__inputTel {
  width: 294px;
  height: 38px;
  margin-left: 69px;
  font-size: 32px;
  font-weight: 700;
  border: none;
  outline: none;
  background: #86D3F4;
  font-size: 32px;
  font-weight: 900;
}
.form__p {
  width: 315px;
  height: 32px;
  margin-left: 33px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.form__p {
  width: 315px;
  height: 32px;
  margin-left: 33px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 400;
}
.form__btn, .form__btnActive {
  width: 284px;
  height: 52px;
  margin-left: 48px;
  border: 1px solid #4E4E4E;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  pointer-events: none;
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.form__btnActive {
  pointer-events: auto;
  background: #000;
  color: #fff;
  cursor: pointer;
}