
$white-color: #fff;
$blue-color: #86D3F4;
$black-color: #000;

*{
    font-family: 'Roboto', sans-serif;
    color: $black-color;
}
.form {
    width: 284px;
    height: 238px;
    padding: 22px 0px 20px 0px;
    margin-left: 47.5px;
    margin-bottom: 6px;
    display: grid;
    grid-template-columns: 88px 88px 88px;
    grid-template-rows: 52px 52px 52px 52px;
    gap: 10px;
    &__keyboard {
        padding: 0;
        border: 2px solid $black-color;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__keyboard:hover, &__keyboard:focus {
        background: $black-color;
        color: $white-color;
    }
    &__clear {
        @extend  .form__keyboard;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}