* {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.form {
  width: 284px;
  height: 238px;
  padding: 22px 0px 20px 0px;
  margin-left: 47.5px;
  margin-bottom: 6px;
  display: grid;
  grid-template-columns: 88px 88px 88px;
  grid-template-rows: 52px 52px 52px 52px;
  gap: 10px;
}
.form__keyboard, .form__clear {
  padding: 0;
  border: 2px solid #000;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.form__keyboard:hover, .form__clear:hover, .form__keyboard:focus, .form__clear:focus {
  background: #000;
  color: #fff;
}
.form__clear {
  grid-column-start: 1;
  grid-column-end: 3;
}